// Font sizes
$fs-main-text: 16px;
$fs-heading: 20px;

// Shapes
$br-icon: 4px; // A border radius for icons

// A block sizes
$min-size-icon: $fs-main-text*1.5;
$min-size-icon--small: $fs-main-text;
